.JobContainerL {
  width: 30%;
  background-color: white;
  overflow: scroll;
  height: 80vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  float: left;
  padding: 15px;
  margin: 0 15% 0 15%;
  overflow-x: hidden;
  border-radius: 10px;
}

.JobContainerR {
  width: 30%;
  background-color: white;
  overflow: scroll;
  height: 80vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-x: hidden;
  border-radius: 10px;
}

.AdminLogIn {
  background-color: white;
  width: 25%;
  padding: 50px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
}

.AdminLogInWrapper {
  text-align: center;
  padding: 11% 0 0 0;
}
